@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Merhaba @(User?.FindFirst("UserName")?.Value ?? "")</h5>
            </div>
            <div class="card-body">
                <p>Proje yönetim sistemine hoş geldiniz. Sol menüden istediğiniz bölüme geçiş yapabilirsiniz.</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            console.log("Sayfa yüklendi");
        });
    </script>
}