@model TeamDto
@{
    Layout = "_MainLayout";
}

<main class="content">
    <div class="header">
        <div class="create-btn">
            <button style="background-color:white;">Nothing</button>
        </div>
        <div>
            <img src="https://i.pravatar.cc/40" alt="User" style="border-radius: 50%">
        </div>
    </div>
    <div class="projects-section">
        <h3>Users</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.Email</td>
                        <td>Employee</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
