@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="overview">
    <div class="card">
        <h3>Projects</h3>
        <p><strong>@Model.Projects.Count</strong></p>
        <small>0 Completed</small>
    </div>
    <div class="card">
        <h3>Sprints</h3>
        <p><strong>0</strong></p>
        <small>0 Completed</small>
    </div>
    <div class="card">
        <h3>Tasks</h3>
        <p><strong>0</strong></p>
        <small>0 Completed</small>
    </div>
    <div class="card">
        <h3>Employees</h3>
        <p><strong>@Model.Users.Count</strong></p>
        <small>100% Available</small>
    </div>
</div>