@model DocumentationDto
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/modal.css">


<form method="post" asp-action="CreateDocumentation" asp-controller="Documentation">
    <input type="hidden" asp-for="TaskId" value="@Model.TaskId">
    <input type="text" asp-for="Header" placeholder="Header">
    <input type="text" asp-for="Text" id="taskDescInput" placeholder="Text">
    <button type="submit">Create</button>
</form>