@model ProjectViewModel
@{
    Layout = null;
}
<div>   
    <form method="post" asp-action="CreateSprint" asp-controller="Project">
        <input type="hidden" asp-for="Project.Id" value="@Model.Project.Id">
        <input type="hidden" asp-for="SprintToCreate.ProjectId" value="@Model.Project.Id">
        <input type="text" asp-for="SprintToCreate.SprintName" placeholder="Sprint Name" autocomplete="off" required>
        <input type="date" asp-for="SprintToCreate.StartDate" placeholder="Sprint Start Date">
        <input type="date" asp-for="SprintToCreate.FinishDate" placeholder="Sprint Finish Date">
        <button type="submit">Create</button>
    </form>
</div>