@model ChangePasswordViewModel

@{
    Layout = null;
}
<link href="~/css/Login.css" rel="stylesheet">
<div class="container">
    <header>Change Password</header>
    <div class="form-outer">
        <form method="post">
            <div class="page slide-page">
                <div class="field">
                    <div class="label">
                        Email
                    </div>
                    <input type="text" asp-for="Email" value="@Model.Email" autocomplete="off">
                </div>
                <div class="field">
                    <div class="label">
                        Old Password
                    </div>
                    <input type="password" asp-for="OldPassword" autocomplete="off">
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="field">
                    <div class="label">
                        New Password
                    </div>
                    <input type="password" asp-for="Password" autocomplete="off">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="field">
                    <div class="label">
                        Confirm Password
                    </div>
                    <input type="password" asp-for="ConfirmPassword" autocomplete="off">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="field">
                    <button class="submit" type="submit">Set Password</button>
                    <small>Forgot my password</small>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.7/jquery.validate.unobtrusive.min.js"></script>
