@model ProjectManagementSystem.ViewModel.LoginViewModel

<form asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="text" placeholder="Email Address" asp-for="Email">
    <br>
    <br>
    <br>
    <input type="text" placeholder="Password" asp-for="Password">
    <br>
    <br>
    <br>
    <input type="submit">
</form>