@model ResetPasswordRequestModel

@{
    Layout = null;
}
<link href="~/css/Login.css" rel="stylesheet">
<div class="container">
    <header>Change Password</header>
    <div class="form-outer">
        <form method="post">
            <div class="page slide-page">
                <div class="field">
                    <div class="label">
                        Email
                    </div>
                    <input type="text" asp-for="Email" autocomplete="off">
                </div>
                <div class="field">
                    <button class="submit" type="submit">Send Reset Mail</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.7/jquery.validate.unobtrusive.min.js"></script>